<!doctype html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Angular Workshop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/screen.css">
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/main.js"></script>
</head>
<body ng-app="todosApp">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Get 'em Done!</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="starter-template">
            <h1>Angudone</h1>
            <div class="lead" ng-controller="TodoCtrl">
              <ul>
                <li ng-repeat="t in todos">
                  <input type="checkbox"
                    ng-model="isDone"
                    ng-change="markDone(t, isDone)"/>
                  {{ t.text | dated }}
                </li>
              </ul>
              <form name="addTodo">
                <input
                  type="text"
                  ng-model="todoTxt"
                  required
                  placeholder = "I want to ... "/>
                <button
                  ng-disabled="addTodo.$invalid"
                  ng-click="newTodo(todoTxt)"
                  >Add</button>
              </form>
            </div>
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script></body>
</html>
